<h2>User info</h2>
<%= image_tag @user.get_profile_image("100x100") %>

<table class="table">
  <tbody>
    <tr>
	    <th>name</th>
	    <th><%= @user.name =%></th>
    </tr>
    <tr>
	    <th>introduction</th>
	    <th><%= @user.introduction =%></th>
    </tr>
  </tbody>
</table>

<% if @user == current_user %>
  <%= link_to "プロフィール編集", edit_user_path(@user.id) %>
<% else %>
  <%= link_to "プロフィール編集", user_path(@user.id) %>
<% end %>